{% extends 'MainCard.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="static/css/sidecard.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    {% block content %}
    <div class="large-card">
      <div class="heading-top-contents">
        <h2 class="heading">Lelam</h2>
      </div>
      <div class="parent">

        <div class="info-side">
          <div class="photos-col-1"></div>
          <div class="details-col-2">
          <h5 class="names">Event name :</h5>
          <h5 class="names">created by :</h5>
          <h5 class="names">status :</h5>
         </div>


        </div>
        <div class="lelam-chat-side">
          <div class="price-row-1">
           <div class="my-green-btn">
              <p class="green-price">$39859</p>
           </div>
           <div class="my-count-circle">
            <p class="count-text">30</p>
           </div>
          </div>
         
          <div class="chat-row-2"> 
           
            <div class="Chates-area">
              <table id="sender-table">
                <tr class="container-msg"> 
                  <td>
                    <h5  class="Price-txt">hi am mansoor</h5>
                  </td>
                 
                </tr>

                <tr class="container-msg"> 
                  <td>
                    <h5 class="Price-txt">2518589</h5>
                  </td>
                 
                </tr>
                <tr class="container-msg"> 
                  <td>
                    <h5  class="Price-txt">how are yopu</h5>
                  </td>
                 
                </tr>
              </table>
              <div style="overflow: auto;">
                <table id="user-table">
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">hi am mansoor</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5 class="Price-txt">2518589</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                  <tr class="container-msg-user"> 
                    <td>
                      <h5  class="Price-txt">how are yopu</h5>
                    </td>
                   
                  </tr>
                </table>
              </div>

            </div>
            <div class="chatbox-area">
              <input type="text" class="input-type-box">
            </div>
           
          </div>
        </div>
      </div>
      

      </div>
    </div>
    {% endblock content %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
